<p>intro works!</p>
<div class="container1">
    <div class="cub cub1"><span class="mycube">f</span></div>
    <div class="cub cub2"><span class="mycube">r</span></div>
    <div class="cub cub3"><span class="mycube">o</span></div>
    <div class="cub cub4"><span class="mycube">n</span></div>
    <div class="cub cub5"><span class="mycube">t</span></div>
    <div class="cub cub6"><span class="mycube">e</span></div>
    <div class="cub cub7"><span class="mycube">n</span></div>
    <div class="cub cub8"><span class="mycube">d</span></div>
  </div>
  <div class="container2">
    <div class="cub-cub quiz-cyb1"><span class="mycub">q</span></div>
    <div class="cub-cub quiz-cyb2"><span class="mycub">u</span></div>
    <div class="cub-cub quiz-cyb3"><span class="mycub">i</span></div>
    <div class="cub-cub quiz-cyb4"><span class="mycub">z</span></div>
  </div>

  <button class="btn-btn" routerLink="/quiz">Start the Quiz</button>