h1{
    text-align: center;
    color:white;
}
select{
   width: 150px;
    float: right;
    position: relative;
    right:10px;
}
.btn{

   color:white;
    float: right;
    position: relative;
    left:150px;
    top:30px;
    text-decoration-thickness: 10px;
   
}
.noapp{
    position: relative;
    top:400px;
    color:purple;

}

.container{
    display: flex;


    justify-content: flex-start;
    .box{
        width: 400px;
        height:auto;
        border-radius: 40px;
        border:2px solid white;
        background-color: purple;
        color:white;
        margin:7px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        .btn-btn{
            position: relative;
            bottom: 10px;
        }
        .btnbtn{
            border:none;
            position: relative;
            top:15px;
            left:50px;
            

        }
    }
}