table{
    width: 100%;
    border:1px solid red;
}
table,th,tr,td{
    border:1px solid red;
    .button {
        background-color: #1c87c9;
      
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        text-align: center;
        text-decoration: none;
      }
      @keyframes glowing {
        0% {
          background-color: #2005a8;
          box-shadow: 0 0 5px #053ba8;
        }
      
      }
      .button {
        animation: glowing 1300ms infinite;
      }
}